.our-doctor {
  padding: 2rem 0;
}
.doctor-title {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
}
.doctor-description {
  text-align: center;
  color: #00cba9;
  font-size: 1.2rem;
}
.about-doctor {
  font-size: 1.15rem;
  text-align: center;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem auto;
  padding: 0 2rem;
}

.card {
  position: relative;
  margin: 4rem 10px 1.1rem 10px;
  width: 260px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.overlay a:hover {
  transform: scale(1.2);
}

.overlay-title {
  color: #fff;
}
@media (max-width: 425px) {
  .card {
    width: 100%;
  }
}

/* .fact */
.fact {
  padding: 1rem 0 4rem 0;
}
.fact-title {
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
}
.fact-description {
  text-align: center;
  color: #00cba9;
  font-size: 1.2rem;
}
.auto-increment {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number-container {
  width: 40%;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}
.number-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: all 0.3s ease-in-out;
}
.number-title {
  text-align: center;
}
.number-box:hover {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}
.number {
  width: 50%;
  font-size: 60px;
  font-weight: 700;
  margin: 20px auto;
  background-color: #00cba9;
  border-radius: 2rem;
  color: #fff;
}

.number::after {
  content: "+";
  font-size: 30px;
  display: inline-block;
  margin-left: 5px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}
@media screen and (max-width: 840px) {
  .number {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .auto-increment {
    height: 100%;
    display: block;
    margin: 3rem 0;
  }
  .number-container {
    width: 80%;
  }
  .number-box {
    width: 100%;
    margin: 0;
  }
  .number {
    width: 100%;
  }
}

/* diagram */
.data-container {
  max-width: 920px;
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  padding: 40px;
}
.data-container h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 3px 0;
}
.data-container p {
  text-align: center;
  color: dimgrey;
}
.chart {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  position: relative;
  align-items: flex-end;
}

.bar {
  width: 100%;
  height: 300px;
  margin: 10px;
  background-color: #f5f5f5;
  border: 1px solid #00cba9;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  transform: translateX(-11%);
}

.bar:hover {
  transition: 0.5s;
  border: 1px solid #ffffff;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.15);
  filter: sepia(1);
}

.value {
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  padding: 1px;
  color: #fff;
  z-index: 1;
}

.malaria {
  height: 350px;
  background-color: #5c0000;
}

.diarrhea {
  height: 280px;
  background-color: #004b71;
}

.typhoid {
  height: 250px;
  background-color: #df8600;
}

.diabetes {
  height: 215px;
  background-color: #289251;
}

.flu {
  height: 160px;
  background-color: #9c27b0;
}

@media screen and (max-width: 600px) {
  .bar {
    width: 70%;
  }
  .value {
    font-size: 10px;
  }
}
@media screen and (max-width: 700px) {
  .data-container {
    width: 500px;
  }
  .value {
    font-size: 12px;
  }
  .malaria {
    height: 300px;
    background-color: #5c0000;
  }

  .diarrhea {
    height: 230px;
    background-color: #004b71;
  }

  .typhoid {
    height: 200px;
    background-color: #df8600;
  }

  .diabetes {
    height: 165px;
    background-color: #289251;
  }

  .flu {
    height: 110px;
    background-color: #9c27b0;
  }
}
@media screen and (max-width: 500px) {
  .data-container {
    width: 380px;
  }
  .value {
    font-size: 12px;
  }
  .malaria {
    height: 260px;
    background-color: #5c0000;
  }

  .diarrhea {
    height: 190px;
    background-color: #004b71;
  }

  .typhoid {
    height: 160px;
    background-color: #df8600;
  }

  .diabetes {
    height: 125px;
    background-color: #289251;
  }

  .flu {
    display: none;
  }
}
@media screen and (max-width: 431px) {
  .diabetes {
    display: none;
  }
  .data-container {
    width: 320px;
  }
}
/* button start */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #00ebc8;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 50px;
  text-decoration: none;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 7px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.a {
  text-decoration: none;
  color: #00cba9;
}

.media {
  margin-bottom: 100px;
}

.title-media {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 90px;
  box-shadow: #00cba9 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: space-around;
  line-height: 1em;
  width: 300px;
  padding: 15px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: #00cba9;
  padding: 16px 24px;
  border-radius: 90px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

/* testimonial */
.testimonial-title {
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
}
.testimonial-description {
  text-align: center;
  color: #00cba9;
  font-size: 1.2rem;
}
.testimonial-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  margin: 3.5rem auto;
}
.testimonial-person {
  font-weight: bold;
}
.testimonial-card {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.testimonial-card img {
  max-width: 200px;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 12px;
}

.testimonial-card:hover {
  transform: translateY(-10px);
}

.testimonial-card h2 {
  font-size: 22px;
  margin-right: 30px;
}

.testimonial-card h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0 0 0 / 90%);
}

.testimonial-card p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0 0 0 / 70%);
  margin-bottom: 24px;
}

.testimonial-card button {
  border: 0;
  background: linear-gradient(90deg, #5448de, #5448de);
  color: #f8f8f8;
  font-family: inherit;
  padding: 13px 20px;
  font-size: 16px;
  border-radius: 40px;
}

@media (width <= 740px) {
  .testimonial-card {
    margin: 2rem auto;
    padding-left: 50px;
    padding-right: 50px;
    width: 70%;
    text-align: center;
    flex-direction: column;
  }

  .testimonial-card h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .testimonial-card img {
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
  }
}

@media screen and (max-width: 650px) {
  .testimonial-card {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    width: 63%;
    max-width: 500px;
    padding: 30px;
    background: #ffffff;
    border-radius: 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .testimonial-card img {
    max-width: 310px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
  }

  .testimonial-card h2 {
    text-align: center;
    font-size: 19px;
  }

  .testimonial-card h3 {
    text-align: center;
    font-size: 15px;
  }

  .testimonial-card p {
    font-size: 14px;
  }
}
