@import url("https://fonts.googleapis.com/css?family=Quicksand:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  font-family: "Quicksand", "Poppins";
}

:root {
  --popover-height: 36px;
  --transition: all 0.4s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #098284;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00e5bf;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #11ffd7;
}
/* loader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00cbc4;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader-text {
  font-family: "Quicksand";
  font-size: 36px;
  font-weight: 800;
  color: #fff;
  animation: blink 1.5s infinite;
  border-bottom: 1px solid white;
}
.preloader-logo {
  font-size: 3rem;
}
@keyframes blink {
  50% {
    opacity: 0.02;
  }
}
/* scrollup */
.scroll-up-button {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  background-color: #ffffff;
  color: #00cba9;
  border-radius: 50%;
  z-index: 9999;
  text-decoration: none;
  transition: var(--transition);
}

.scroll-up-button:hover {
  background-color: #00b0cb;
  color: #fff;
}

/* opening*/
.opening-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
  align-items: center;
}

.logo {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.quotes {
  flex-basis: 70%;
}

.quotes blockquote {
  text-align: center;
  font-size: 24px;
  color: #00cba9;
  margin: 0;
  padding: 0;
}

.content {
  text-align: center;
  margin: 0 auto;
  width: 60%;
}

.content h1 {
  font-size: 36px;
  color: #333;
}

.content p {
  font-size: 18px;
  color: #777;
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

/* end opening */
/* Fasilitas card styles */
.fasilitas-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.fasilitas-title {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
}
.fasilitas-description {
  text-align: center;
  color: #00cba9;
  font-size: 1.2rem;
}
.fasilitas-card {
  width: 30%;
  max-width: 300px;
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin: 5rem auto;
  transition: all 0.3s ease;
}
.fasilitas-card-title {
  text-align: center;
  transition: all 0.3s ease;
}
.fasilitas-card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.fasilitas-card:hover {
  background: #00cba9;
  color: #fff;
}

.fasilitas-card:hover .fasilitas-card-title {
  color: #fff;
}
/* popover */
.popoverr {
  position: fixed;
  top: 50%;
  right: -10px;
  translate: 0 -50%;
  display: grid;
  place-items: center;
  gap: 8px;
  padding: 20px;
  cursor: pointer;
  z-index: 100;
}

.popoverr button {
  position: relative;
  display: grid;
  place-items: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #e7e7e9;
  background: transparent;
  font-family: inherit;
  cursor: inherit;
}

.popoverr button::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 50%;
  right: 42px;
  translate: 6px -50%;
  opacity: 0;
  visibility: hidden;
  background: #222222;
  color: #f7f7f7;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 4px;
  transition: 0.3s;
  z-index: 100;
}

.popoverr button:hover::before {
  opacity: 1;
  visibility: visible;
  translate: 0 -50%;
  z-index: 101;
}

.material-symbols-outlined {
  font-size: 18px;
  z-index: 1000;
}

.popover {
  position: relative;
  height: var(--popover-height);
  width: 60px;
  text-align: center;
}

.popover > img {
  width: var(--popover-height);
  height: var(--popover-height);
  border-radius: 50%;
  transition: 0.3s;
}

.popover-menu {
  position: absolute;
  top: 0;
  right: 64px;
  width: 260px;
  padding: 16px;
  translate: 8px 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0 6px 50px rgb(0 0 0 / 16%);
  transition: 0.3s;
  z-index: 102;
}

.popover-menu::after {
  content: "";
  position: absolute;
  top: 16px;
  right: -5px;
  width: 10px;
  height: 10px;
  rotate: 45deg;
  background: inherit;
}

.popover:hover .popover-menu {
  opacity: 1;
  visibility: visible;
  translate: 0;
}

.popover:hover > img {
  opacity: 0.65;
}

.popover-menu header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

h2,
h3 {
  margin: 0;
  font-weight: 400;
  text-align: left;
}

.popover-menu h2 {
  margin: 0;
  font-size: 14px;
}

.popover-menu h3 {
  margin: 0;
  font-size: 11px;
  opacity: 0.5;
}

.popover-menu header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.images {
  display: flex;
  gap: 10px;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.images::-webkit-scrollbar {
  display: none;
}

.images img {
  scroll-snap-align: start;
  width: 108px;
  min-width: 108px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}
/* end popover */

/* header */
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/header.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  position: absolute;
  text-align: center;
  width: 69%;
  color: #fff;
}
.header-content h1 {
  font-family: "Poppins";
  font-weight: 5;
  font-size: 2.9rem;
}
.header-content p {
  font-weight: 200;
  margin-bottom: 10px;
}
.header-btn {
  padding: 9px 7px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  transition: var(--transition);
}
.header-btn:hover {
  color: #111;
  background-color: #fff;
}

/* about */
.about {
  background-color: #00cba9;
}
.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  color: #fff;
}

.first-img {
  transition: 0.4s;
}

.first-img:hover {
  transform: scale(0.9);
  box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.image {
  grid-column: 1;
  justify-self: center; /* Mengatur gambar menjadi posisi tengah secara horizontal */
}

/* Teks di sebelah kanan */
.text {
  grid-column: 2; /* Mengatur posisi kolom teks */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Mengatur teks menjadi posisi tengah secara vertikal */
}

/* Judul */
.text h1 {
  font-family: "Open Sans";
  font-size: 36px;
  margin-bottom: 20px;
}

/* Paragraf */
.text p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Gambar responsif */
figure img {
  width: 100%;
  height: auto;
  border-radius: 17px;
}
.wave {
  margin-bottom: -1rem;
}
.wavee {
  margin-top: -1rem;
}
/* menu */
.nav-logo {
  width: 3%;
  margin-bottom: -4px;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #ffffff;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  box-shadow: 0 2px 4px -1px rgba(57, 76, 96, 0.15);
}

.burger {
  width: 16px;
  height: 16px;
}

.dropdown {
  position: relative;
  width: 200px;
  height: 40px;
}

.cari,
.search {
  position: absolute;
}

.cari {
  z-index: 2;
  top: 2px;
  height: 36px;
  width: 238px;
  border: 1px solid #dfe4e7;
  outline: none;
  padding-left: 34px;
  border-radius: 4px;
  background: transparent;
  font-family: inherit;
  font-size: 12px;
}

.search {
  top: 13px;
  left: 10px;
  z-index: 3;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.cari:focus {
  border-color: transparent;
}

.menu {
  z-index: 1;
  position: absolute;
  height: 40px;
  width: 100%;
  transition-property: width;
  transition-duration: 0.3s;
}

.cari:focus ~ .menu {
  box-shadow: 0 0px 8px 0 rgba(57, 76, 96, 0.18);
  height: 170px;
  width: 290px;
  padding-top: 40px;
  border-radius: 4px;
  background: #fff;
}

.cari:focus ~ .menu .menu-content {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

.menu-content {
  position: absolute;
  width: inherit;
  visibility: hidden;
  opacity: 0;
  border-top: 1px solid #dfe4e7;
}

.menu button {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 12px 10px;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 13px;
}

.menu button img {
  width: 16px;
  height: 16px;
}

.menu button:hover {
  background: #f0f1f3;
}

span {
  white-space: nowrap;
}

.menu button span:last-child {
  opacity: 0;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
}

.menu button:hover span:last-child {
  opacity: 1;
}
/* brand */
.brands {
  text-align: center;
  padding: 7rem 4.9rem 3.5rem 4.9rem;
}
.brands-title {
  text-align: center;
  color: #777;
  margin: 1rem 0;
}
.brands img {
  margin: auto;
  filter: grayscale(1);
}
/* contact */
.contact {
  background-color: #00cba9;
}
.contact-us {
  margin-top: 3rem;
  display: flex;
  gap: 20px;
  padding: 1rem 3rem 2rem 3rem;
}
.contact-title {
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  color: #fff;
}
.contact-description {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}
.form-container {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.form-container h1 {
  margin-top: 0;
}

.form-container input,
.form-container textarea {
  resize: none;
  font-family: "Quicksand";
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container textarea {
  height: 100px;
}

.form-container input:focus,
.form-container textarea:focus {
  outline: none;
  border-color: #007bff;
}
.map-container {
  flex: 1;
  padding: 20px;
  text-align: center;
}
.button-87 {
  margin: 10px 0;
  padding: 10px 20px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  box-shadow: 0px 0px 14px -7px #00b0cb;
  background-image: linear-gradient(
    45deg,
    #00cba9 0%,
    #2ecbb1 51%,
    #93ffed 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

/* footer styling */
.footer {
  background-color: #19302e;
}
.main-footer {
  padding: 40px 2.1rem 50px 2.1rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #19302e;
}

.main-footer ul {
  list-style: none;
}

.main-footer h1 {
  font-size: 22px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}

.main-footer h2 {
  color: #ffffff;
  font-weight: 500;
}

.main-footer ul li a {
  color: #ffffffcc;
  text-decoration: none;
}

footer {
  background-color: #19302e;
  border-top: 1px solid #6eb981;
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

.logoinfo p {
  color: #6eb981;
  font-size: 17px;
  margin-top: 5px;
}

.contact-details {
  margin-top: 20px;
}

.contact-details li {
  list-style: none;
  margin: 10px 0;
}

.contact-details li a {
  text-decoration: none;
  color: #f1f1f1;
}

.contact-details .fa {
  color: #f1f1f1;
  margin-right: 10px;
}

.sociallogos {
  padding: 20px 0;
}

.sociallogos .logobox a {
  padding: 0 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}

.com ul li {
  padding: 5px 0;
}

@media only screen and (max-width: 749px) {
  .main-footer {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .info {
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .main-footer {
    grid-template-columns: 1fr;
  }
  .sociallogos {
    padding: 20px 0;
  }
  .com {
    padding: 20px 0;
  }
}
